# PostgreSQL connection string (Neon, Vercel Postgres, Supabase)
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"

JWT_SECRET="ganti-dengan-string-acak-panjang-minimal-32-karakter"
